# Preprocessing and Training Data Development for Capstone 2
This notebook handles the preprocessing and development of the training data for the FARS dataset.

# Table of Contents 
1. [Research questions](#id0)
2. [Import Packages](#id1)
3. [Load the data](#id2)
4. [Test Train Split for Total](#id3)
5. [Test Train Split for Rural](#id4)
6. [Test Train Split for Urban](#id5)
7. [Saving progress](#id6)

<a id="id0"></a>

## Research questions

In considering the transformation of rural areas into nonrural areas in the US, what factors most strongly predict fatal crashes in each contexta for the year under consideration and thereby what is predictable as this transformation continues? Will there be more fatal crashes if rural areas are transformed to urban areas? Do rural and urban areas have the same factors that correlate with fatalities.

<a id="id1"></a>

## Import packages

In [45]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn import preprocessing
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split
import ppscore as pps
import warnings
warnings.filterwarnings('ignore')

<a id="id2"></a>

## Load the data

In [46]:
#Import rural and urban datasets separately and also total; will test and train within each and within total.

rural = pd.read_csv('../data/processed/new_rural.csv')
urban = pd.read_csv('../data/processed/new_urban.csv')
total = pd.read_csv('../data/processed/new_total.csv')

In [55]:
rural.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1, inplace=True)
rural.head(5)

,STATE,STATENAME,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERSONS,DAY,DAYNAME,...,FATALS,DRUNK_DR,F_RATIO,REGION,WEEK_END,DAY_NIGHT,DN_Avg,WEEK_END_Avg,State_Avg,Day_Avg
0,1,Alabama,10003,3,3,0,0,4,22,22,...,1,0,25.0,South,Weekday,Night_Time,1.085287,1.078926,1.086449,1.079063
1,1,Alabama,10004,1,1,0,1,1,22,22,...,1,0,50.0,South,Weekday,Day_Time,1.086942,1.078926,1.086449,1.079063
2,1,Alabama,10006,2,2,0,0,2,7,7,...,1,0,50.0,South,Weekday,Night_Time,1.085287,1.078926,1.086449,1.073489
3,1,Alabama,10007,1,1,0,0,5,2,2,...,1,0,20.0,South,Weekday,Night_Time,1.085287,1.078926,1.086449,1.082433
4,1,Alabama,10008,1,1,0,0,1,9,9,...,1,1,100.0,South,Weekend,Night_Time,1.085287,1.100046,1.086449,1.099610

In [56]:
urban.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1, inplace=True)
urban.head(5)

,STATE,STATENAME,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERSONS,DAY,DAYNAME,...,FATALS,DRUNK_DR,F_RATIO,REGION,WEEK_END,DAY_NIGHT,DN_Avg,WEEK_END_Avg,State_Avg,Day_Avg
0,1,Alabama,10001,2,2,0,0,3,7,7,...,1,1,33.33,South,Weekday,Night_Time,1.085287,1.078926,1.086449,1.073477
1,1,Alabama,10002,2,2,0,0,2,23,23,...,1,0,50.00,South,Weekday,Night_Time,1.085287,1.078926,1.086449,1.082433
2,1,Alabama,10005,1,1,0,0,1,18,18,...,1,1,100.00,South,Weekday,Day_Time,1.086942,1.078926,1.086449,1.085082
3,1,Alabama,10009,1,1,0,0,1,8,8,...,1,0,100.00,South,Weekday,Day_Time,1.086942,1.078926,1.086449,1.085082
4,1,Alabama,10010,1,1,0,1,1,7,7,...,1,0,50.00,South,Weekday,Day_Time,1.086942,1.078926,1.086449,1.073477

In [57]:
total.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1, inplace=True)
total.head(5)

,STATE,STATENAME,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERSONS,DAY,DAYNAME,...,FATALS,DRUNK_DR,F_RATIO,REGION,WEEK_END,DAY_NIGHT,DN_Avg,WEEK_END_Avg,State_Avg,Day_Avg
0,1,Alabama,10001,2,2,0,0,3,7,7,...,1,1,33.33,South,Weekday,Night_Time,1.085287,1.078926,1.086449,1.073477
1,1,Alabama,10002,2,2,0,0,2,23,23,...,1,0,50.00,South,Weekday,Night_Time,1.085287,1.078926,1.086449,1.082433
2,1,Alabama,10003,3,3,0,0,4,22,22,...,1,0,25.00,South,Weekday,Night_Time,1.085287,1.078926,1.086449,1.079063
3,1,Alabama,10004,1,1,0,1,1,22,22,...,1,0,50.00,South,Weekday,Day_Time,1.086942,1.078926,1.086449,1.079063
4,1,Alabama,10005,1,1,0,0,1,18,18,...,1,1,100.00,South,Weekday,Day_Time,1.086942,1.078926,1.086449,1.085082

In [69]:
print("rural shape is", rural.shape, 'urban shape is', urban.shape, 'total shape is', total.shape)

rural shape is (14615, 30) urban shape is (18734, 30) total shape is (33457, 30)

<a id="id3"></a>

## Test train split for Total

In [70]:
### Test Train Split for total
X = total.loc[:, total.columns!='F_RATIO']
y = total.F_RATIO

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=42)

In [71]:
y.head(5)

0     33.33
1     50.00
2     25.00
3     50.00
4    100.00
Name: F_RATIO, dtype: float64

In [77]:
X_train.dtypes

STATE             int64
STATENAME        object
ST_CASE           int64
VE_TOTAL          int64
VE_FORMS          int64
PVH_INVL          int64
PEDS              int64
PERSONS           int64
DAY               int64
DAYNAME           int64
MONTH             int64
MONTHNAME        object
DAY_WEEKNAME     object
HOUR              int64
RUR_URBNAME      object
HARM_EVNAME      object
LGT_CONDNAME     object
WEATHER1NAME     object
WEATHER2NAME     object
WEATHERNAME      object
FATALS            int64
DRUNK_DR          int64
REGION           object
WEEK_END         object
DAY_NIGHT        object
DN_Avg          float64
WEEK_END_Avg    float64
State_Avg       float64
Day_Avg         float64
dtype: object

In [33]:
### Sorting the categorical variables out of the X sets
X_train_dfo = X_train.select_dtypes(include=['object'])
X_test_dfo = X_test.select_dtypes(include=['object'])

In [67]:
X_test_dfo.shape

(10038, 12)

In [80]:
### Then stripping them from the continuous ones
X_train_df = X_train.select_dtypes(include=['int64', 'float64'])
X_test_df = X_test.select_dtypes(include=['int64', 'float64'])

X_test_df.shape

(10038, 17)

In [81]:
# For Total, build scaler based on training data and apply it to test data to then also scale the X test data
# For Total, build scaler based on training data and apply it to test data to then also scale the X test data
scaler = preprocessing.StandardScaler().fit(X_train_df)
X_train_scaled=scaler.transform(X_train_df)
X_test_scaled=scaler.transform(X_test_df)

In [84]:
frames = [X_train_scaled, X_train_dfo]
X_train_combo = pd.concat(frames)

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

In [44]:
# For Total, We now want to check the shape of the X train, y_train, X_test and y_test to make sure the proportions are right. 
print('Total accident training data', X_train_scaled.shape, 'Total accident test data', X_test_scaled.shape, "\n", 'total fatality training data', y_train.shape, 'total fatality testing data', y_test.shape)

Total accident training data (23419, 204) Total accident test data (10038, 204)
 total fatality training data (23419,) total fatality testing data (10038,)

<a id="id4"></a>

## Test train split for rural

In [45]:
### Test Train Split for Rural
X_R = rural_ready.loc[:, rural_ready.columns!='F_RATIO']
y_R = rural_ready.F_RATIO

X_train_R, X_test_R, y_train_R, y_test_R = train_test_split(X_R, y_R, test_size=.3, random_state=42)

In [8]:
### Sorting out the categorical variables for rural
dfo = rural.select_dtypes(include=['object']) # select object type columns
rural_ready = pd.concat([rural.drop(dfo, axis=1), pd.get_dummies(dfo)], axis=1) ### concatenating the dummy filled columns
rural_ready.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'STATE', 'ST_CASE', 'VE_TOTAL',
       'VE_FORMS', 'PVH_INVL', 'PEDS', 'PERSONS', 'DAY',
       ...
       'WEATHERNAME_Sleet or Hail', 'WEATHERNAME_Snow', 'REGION_Midwest',
       'REGION_Northeast', 'REGION_South', 'REGION_West', 'WEEK_END_Weekday',
       'WEEK_END_Weekend', 'DAY_NIGHT_Day_Time', 'DAY_NIGHT_Night_Time'],
      dtype='object', length=198)

In [46]:
# For Rural, build scaler based on training data and apply it to test data to then also scale the test data
scaler = preprocessing.StandardScaler().fit(X_train_R)
X_train_R_scaled=scaler.transform(X_train_R)
X_test_R_scaled=scaler.transform(X_test_R)

In [47]:
# For Rural, We now want to check the shape of the X train, y_train, X_test and y_test to make sure the proportions are right. 
print('Rural accident training data', X_train_R_scaled.shape, 'Rural accident test data', X_test_R_scaled.shape, "\n", 'Rural fatality training data', y_train_R.shape, 'Rural fatality testing data', y_test_R.shape)

Rural accident training data (10230, 197) Rural accident test data (4385, 197)
 Rural fatality training data (10230,) Rural fatality testing data (4385,)

<a id="id5"></a>

## Test train split for urban

In [48]:
### Test Train Split for Rural
X_U = urban_ready.loc[:, urban_ready.columns!='Rural']
y_U = urban_ready.F_RATIO

X_train_U, X_test_U, y_train_U, y_test_U = train_test_split(X_U, y_U, test_size=.3, random_state=42)

In [9]:
### Sorting out the categorical variables for rural
dfo = urban.select_dtypes(include=['object']) # select object type columns
urban_ready = pd.concat([urban.drop(dfo, axis=1), pd.get_dummies(dfo)], axis=1) ### concatenating the dummy filled columns
urban_ready.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'STATE', 'ST_CASE', 'VE_TOTAL',
       'VE_FORMS', 'PVH_INVL', 'PEDS', 'PERSONS', 'DAY',
       ...
       'WEATHERNAME_Sleet or Hail', 'WEATHERNAME_Snow', 'REGION_Midwest',
       'REGION_Northeast', 'REGION_South', 'REGION_West', 'WEEK_END_Weekday',
       'WEEK_END_Weekend', 'DAY_NIGHT_Day_Time', 'DAY_NIGHT_Night_Time'],
      dtype='object', length=199)

In [49]:
# For Rural, build scaler based on training data and apply it to test data to then also scale the test data
scaler = preprocessing.StandardScaler().fit(X_train_U)
X_train_U_scaled=scaler.transform(X_train_U)
X_test_U_scaled=scaler.transform(X_test_U)

In [50]:
# For Rural, We now want to check the shape of the X train, y_train, X_test and y_test to make sure the proportions are right. 
print('Urban accident training data', X_train_U_scaled.shape, 'Urban accident test data', X_test_U_scaled.shape, "\n", 'Urban fatality training data', y_train_U.shape, 'Urban fatality testing data', y_test_U.shape)

Urban accident training data (13113, 199) Urban accident test data (5621, 199)
 Urban fatality training data (13113,) Urban fatality testing data (5621,)

<a id="id5=6"></a>

## Saving progress

Data for each dataset is test/train split and then scaled to avoid data leakage.